body {
    background: white url("images/background2.png");
}

.logo-text {
    font-family: 'Cookie', cursive;
}

.navbar {
    border-radius: 0;
}

form, h4 {
    text-align: center;
}
td {
    text-align: center;
    vertical-align: middle;
}
