body {
    background: white url("images/background2.png");
    }

.logo-text {
    font-family: 'Cookie', cursive;
    }

.navbar{
    border-radius: 0;
    }

.header{
    text-align: center;}

form, h4, h5 {
    text-align: center;
}

.game_list{
    margin: 12px 0;
    padding-left: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}

.nospace {
    font-size: 0;
}

strong {
    font-weight: bold;
    color: white;
}

body {
	margin: 0;
}
.centre {
  width: 200px;
  display: block;
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
}