<table align="center" style="width:85%">
  <tr>
    <th>Bonus Tile symbol</th>
    <th>Description</th>
  </tr>
  <tr>
      <td>K3</td>
      <td style="text-align: left">Weź krowę o wartości 3</td>
  </tr>
  <tr>
      <td>P+2</td>
      <td style="text-align: left">Zatrudnij pomocnika płacąc o 2$ mniej</td>
  </tr>
  <tr>
      <td>2X</td>
      <td style="text-align: left">Usuń z gry dwie karty z ręki</td>
  </tr>
  <tr>
      <td>L3</td>
      <td style="text-align: left">Wykonaj ruch pociągiem (do trzech pól do przodu)</td>
  </tr>
  <tr>
      <td>B</td>
      <td style="text-align: left">Zbuduj budynek</td>
  </tr>
</table>