<table align="center" style="width:40%">
    <tr><th colspan="2">Bonus Tiles</th> </tr>
    <tr>
      <th>Tile ID</th>
      <th>Tile</th>
    </tr>
    {% for tile_id, tile in bonus_tiles %}
    <tr>
      <td>{{ tile_id|safe }}</td>
      <td>{{ tile|safe }}</td>
    </tr>
    {% endfor %}
</table>
<br />
{% include 'randomizers/gwt/bonus_tiles_description.html' %}