<table class="center" align="center" style="width:20%">
  <tr>
    <th>Player's Building</th>
    <th>Side</th>
        <th></th>
    <th>Main Building</th>
  </tr>
  {% for building_id, building_side, main_building in buildings %}
  <tr>
      <td>{{ building_id|safe }}</td>
      <td>{{ building_side|safe }}</td>
      <td></td>
      <td>{{ main_building|default_if_none:"" }}</td>
  </tr>
  {% endfor %}
</table>

