<table align="center" style="width:40%">
  <tr>
    <th>Objective symbols</th>
    <th>Description</th>
  </tr>
  <tr>
      <td>Tn</td>
      <td style="text-align: left">Tipi niebieskie</td>
  </tr>
  <tr>
      <td>Tz</td>
      <td style="text-align: left">Tipi zielone</td>
  </tr>
  <tr>
      <td>Z</td>
      <td style="text-align: left">Zagrożenie</td>
  </tr>
  <tr>
      <td>B</td>
      <td style="text-align: left">Budynek</td>
  </tr>
  <tr>
      <td>3</td>
      <td style="text-align: left">Krowa '3'</td>
  </tr>
  <tr>
      <td>4</td>
      <td style="text-align: left">Krowa '4'</td>
  </tr>
  <tr>
      <td>S</td>
      <td style="text-align: left">Stacja</td>
  </tr>
</table>
<br />
