<table align="center" style="width:40%">
    <tr><th colspan="2">Objectives</th> </tr>
    <tr>
      <th>Player</th>
      <th>Objective</th>
    </tr>
    {% for player, objective in objectives %}
    <tr>
      <td>{{ player|safe }}</td>
      <td>{{ objective|safe }}</td>
    </tr>
    {% endfor %}
</table>
<br />
{% include 'randomizers/gwt/objectives_description.html' %}