<table align="center" style="width:85%">
              <tr>
    <th>Tile symbol</th>
    <th>Description</th>
  </tr>
  <tr>
      <td>C</td>
      <td style="text-align: left">Permanentny certyfikat (w liczniku),
          certyfikat (w mianowniku)</td>
  </tr>
  <tr>
      <td>c</td>
      <td style="text-align: left">Zwykły certyfikat</td>
  </tr>
  <tr>
      <td>T</td>
      <td style="text-align: left">Tipi</td>
  </tr>
  <tr>
      <td>TT</td>
      <td style="text-align: left">Para różnych tipi</td>
  </tr>
  <tr>
      <td>Z</td>
      <td style="text-align: left">Zagrożenie</td>
  </tr>
  <tr>
      <td>P</td>
      <td style="text-align: left">Pomocnik</td>
  </tr>
  <tr>
      <td>B</td>
      <td style="text-align: left">Budynek</td>
  </tr>
  <tr>
      <td>S</td>
      <td style="text-align: left">Stacja</td>
  </tr>
  <tr>
      <td>G</td>
      <td style="text-align: left">Cel osobisty</td>
  </tr>
  <tr>
      <td>F</td>
      <td style="text-align: left">Postaw filię</td>
  </tr>
  <tr>
      <td>W</td>
      <td style="text-align: left">Weź żeton wymiany (w liczniku), żeton wymiany (w mianowniku)</td>
  </tr>
  <tr>
      <td>K</td>
      <td style="text-align: left">Obszar danego koloru z filią gracza</td>
  </tr>
</table>