<table align="center" style="width:40%">
    <tr>
        <th colspan="2">Station Tiles</th>
    </tr>
    {% for name, stations in station_tiles %}
  {% if name %}
  <tr>
    <th colspan="2">{{ name }}</th>
  </tr>
  {% endif %}

  {% for tile_id, tile in stations %}
  {% if forloop.first %}
  <tr>
    {% if tile_id %}<th>Tile ID</th>
    <th>Tile</th>
        {% else %}
            <th colspan="2">Tile</th>
         {% endif %}
  </tr>
  {% endif %}
  <tr>
        {% if tile_id %}
      <td>{{ tile_id|safe }}</td>
      <td>{{ tile|safe }}</td>
            {% else %}
             <td colspan="2">{{ tile|safe }}</td>

        {% endif %}
  </tr>
  {% endfor %}{% endfor %}
</table>
<br />
{% include 'randomizers/gwt/station_tiles_description.html' %}
