<!DOCTYPE html>
<html lang="en">
<!-- Loads the path to static files -->
{% load static %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Cookie|Marck+Script" rel="stylesheet">

<!-- Django@Static Files -->
<link rel="stylesheet" type="text/css" href="{% static 'randomizers/style.css' %}" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<!-- Minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">

        <!-- Header -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top_NavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-text" href="/">
                <strong>G</strong>ame<br/><strong>R</strong>andomizers

            </a>
        </div>

        <!-- Rest of navbar -->
            <div class="collapse navbar-collapse" id="top_NavBar">

                <ul class="nav navbar-nav">
                    <li class="" aria-hidden="true">
                        <a href="/five_tribes/">Five Tribes</a>
                    <li class="" aria-hidden="true">
                        <a href="/great_western_trail/">Great Western Trail</a>
                    <li class="" aria-hidden="true">
                        <a href="/puerto_rico/">Puerto Rico</a>
                    </li>
                </ul>
            </div>

    </div>
</nav>
{% block content %}

{% endblock %}
</body>

