{% extends 'randomizers/base.html' %}
{% load static %}

{% block content %}

    <div>
        <h1 class="header"><u>Five Tribes</u><br/><br/></h1>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Generate new board">
        </form>
        <div class="nospace header">
        {% if counter %}
            <h4>Board id: {{ counter }}</h4>
        {% endif %}
            {% for line in all_lines %}
                <div>
                    {% for tile in line %}
                        <img src="{% static tile|safe %}">
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}
