{% extends 'randomizers/base.html' %}
{% load static %}

    {% block content %}
        <div>
            <h1 class="header"><u>Great Western Trail</u><br/><br/></h1>
        </div>
                <div class="centre"><form style="text-align: left" action="" method="POST">
                {% csrf_token %}

                    Choose players: {{ form.players  }}<br />

                    <p style="text-align: center"> Choose game version: {{ form.game_version }}</p><br />

            <input class="centre" type="submit" value="Randomize">
        </form>
        </div>
        {% if counter %}
            <h4>Setup id: {{ counter }}</h4>
        {% endif %}
        {% if first_player %}
            <h4>First player: {{ first_player }}</h4>
        {% endif %}

        {% if buildings %}
            {% include 'randomizers/gwt/buildings.html' %}
            <br />
        {% endif %}
        {% if objectives %}
            {% include 'randomizers/gwt/objectives.html' %}
        {% endif %}
        {% if station_tiles %}
            {% include 'randomizers/gwt/station_tiles.html' %}
            <br />
        {% endif %}
        {% if bonus_tiles %}
            {% include 'randomizers/gwt/bonus_tiles.html' %}
            <br />
        {% endif %}
  {% endblock %}
