{% extends 'randomizers/base.html' %}

{% block content %}
    <h2 class="game_list">Game Randomizers:</h2>
    <h3 class="game_list"><a href="/five_tribes/">Five Tribes</a></h3>
    <h3 class="game_list"><a href="/great_western_trail/">Great Western Trail</a></h3>
    <h3 class="game_list"><a href="/puerto_rico/">Puerto Rico</a></h3>
{% endblock %}
