{% extends 'randomizers/base.html' %}
{% load static %}

    {% block content %}
        <div>
            <h1 class="header"><u>Puerto Rico</u><br/><br/></h1>

        </div>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="submit" value="Randomize buildings">
            </form>
                {% if counter %}<h4>Setup id: {{ counter }}</h4>{% endif %}
        {% if buildings %}
            <table align="center" style="width:30%">
          <tr>
            <th>Cost</th>
            <th>Buildings</th>
          </tr>
          {% for cost, building in buildings %}
          <tr>
              <td>{{cost|safe}}</td>
              <td style="text-align: left">{{building|safe}}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
            </div>
        </div>
        <br />
  {% endblock %}
